html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

:root {
  --light-gray: rgb(241, 241, 241);
  --medium-gray: rgb(192, 201, 198);
  --medium-dark-gray: rgb(120, 119, 131);
  --dark-gray: rgb(93, 92, 104);
  --black: rgb(30, 34, 34);
  --green: rgb(0, 191, 166);
}

/* ===Typography=== */

a {
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  color: black;
  color: var(--black);
}

i {
  font-size: 1.5rem;
  color: var(--green);
}

.section-number {
  font-family: "PT Serif", sans-serif;
  color: var(--medium-gray);
  font-weight: 900;
  font-size: 3rem;
}

.section-number-light {
  font-family: "PT Serif", sans-serif;
  color: var(--medium-dark-gray);
  font-weight: 900;
  font-size: 3rem;
}

.section-name,
.section-name-light {
  color: var(--dark-gray);
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  writing-mode: sideways-lr;
  font-size: 1rem;
  font-weight: 700;
}

.section-name-light {
  color: var(--medium-gray);
}

.section-page-title,
.section-title-light,
.section-title {
  font-family: "PT Serif", sans-serif;
  color: var(--black);
  font-weight: 700;
  font-size: 4.236rem;
}

.section-title,
.section-title-light {
  font-size: 2.618rem;
  margin-bottom: 1em;
}

.section-title-light {
  color: var(--medium-gray);
}

.section-subtitle {
  font-family: "Roboto", sans-serif;
  font-size: 1.618rem;
}

.section-content {
  font-family: "Roboto", sans-serif;
}

.section-content-light {
  font-family: "Roboto", sans-serif;
  color: var(--light-gray);
}

.section-content-light,
.section-content {
  line-height: 1.618em;
}

.tile-text__title {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
}

.footer {
  font-family: "Roboto", sans-serif;
  font-weight: 800;
  color: var(--black);
}

/* ===Nav=== */
.nav {
  position: sticky;
  top: 0;

  background-color: #fff;
  z-index: 400;
  padding: 1em;

  box-shadow: 0 0 5px 0px rgba(158, 158, 158, 0.5);
}

#navbar {
  display: flex;
  max-width: 1300px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  padding: 0 2em;
}

li {
  display: inline-block;
}

li + li {
  margin-left: 1em;
}

/* ===Flex containers=== */

.row {
  display: flex;
  flex-wrap: wrap;
  max-width: 1000px;
  justify-content: space-between;
  justify-content: space-evenly;
  width: 90%;
}

.flex-container {
  height: 100%;
  width: 90%;

  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  padding: 6em 0;
  justify-content: space-evenly;
  align-items: center;
}

.flex--right {
  justify-content: flex-end;
  text-align: right;
}

/* === Section-title === */

.side-info {
  display: grid;
  grid-template: repeat(3, auto) / 2em;
  justify-items: center;
  padding-left: 2em;
  margin-right: 6em;
  justify-self: flex-end;
}

.section-line {
  border-left: 2px solid var(--dark-gray);
  padding: 1.5em 0;
  margin-bottom: 0.5em;
}

.about-me {
  background-color: var(--dark-gray);
}

.section-line-light {
  border-left: 2px solid var(--medium-gray);
  padding: 1.5em 0;
  margin-bottom: 0.5em;
}

/* === Links === */

.hl-green {
  background: linear-gradient(to bottom, #00bfa6 0%, #00bfa6 100%);
  background-repeat: repeat-x;
  background-size: 4px 4px;
  background-position: 0 100%;
  transition: 0.2s ease-in-out;
}

.hl-green:hover {
  background-size: 4px 50px;
}

/* ===Layout=== */

.hero {
  height: 100vh;
  background-color: var(--light-gray);
}

.hero-img {
  margin-right: 2em;

  max-width: 400px;
}

.about-img {
  max-width: 400px;
  margin-right: 2em;
}

.side-info--right {
  padding-left: 6em;
}

.side-info--up {
  align-self: flex-start;
}

.section-content--half {
  width: min(90%, 950px);
}

/* === Projects showcase === */
.project-tile {
  width: 250px;
  height: 250px;
  margin: 2em 0;
  border-radius: 50%;
  transition: 0.5s ease-in-out;
  overflow: hidden;
  position: relative;
}

.project-tile h3 {
  position: absolute;
  line-height: 250px;
  text-align: center;
  right: 0;
  left: 0;
  z-index: 399;
}

.project-1::before {
  content: "";
  background-color: var(--medium-gray);
  color: var(--dark-gray);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 399;
  transition: 0.5s ease-in-out;
}

.project-2::before {
  background-color: var(--dark-gray);
  color: var(--light-gray);
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 399;
  transition: 0.5s ease-in-out;
}

.project-3::before {
  background-color: var(--medium-dark-gray);
  color: #fff;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 399;
  transition: 0.5s ease-in-out;
}

.project-4::before {
  background-color: var(--light-gray);
  color: var(--dark-gray);
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 399;
  transition: 0.5s ease-in-out;
}

.project-4 {
  color: var(--dark-gray);
}

.project-3,
.project-2 {
  color: var(--light-gray);
}

.project-tile img {
  filter: grayscale(0.85);
  z-index: -10;
  width: 100%;
}

.project-tile:hover,
.project-tile:hover::before {
  background-color: transparent;
  color: transparent;
}

/* ===footer === */
.footer {
  padding: 6em 0;
  background-color: var(--light-gray);
  text-align: center;
}

@media screen and (max-width: 600px) {
  .side-info {
    display: none;
  }

  .flex-container {
    width: 85%;

    text-align: center;
  }

  .row {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .section-content--half {
    width: 100%;
  }
}

@media screen and (max-width: 900px) {
  .row {
    justify-content: space-between;
  }
  .hero-img,
  .about-img {
    display: none;
  }
}
